$font: 'Ubuntu';

$main-color: #000000;
$primary: #666565;
$secondary: #909599;

$accent-color: #EB5757;
$accent-variant: rgba(141, 190, 80, 0.5);

$white: #FFFFFF;

$blur: blur(10px);

$background: #E5E5E5;
$bra: 4px;

$trs: .3s ease-in-out;
